/* PROJECT */
.container{
	max-width: 960px;
	padding: 0 10px 0 10px;
	margin: 0 auto;
}

#project{
	background: #aa2e8f;
	padding: 30px 0 30px 0;
}

#header_project img{
	max-width: 100%;
	height: 100%;
	display: block;
	margin: 0 auto;
	padding: 30px 0 30px 0;
}

#project p{
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-weight: 300;
	font-size: 1.3em;
	line-height: 25px;
	padding: 30px 0 30px 0;
}

.posts{
	width: 100%;
	padding: 30px 0 30px 0;
}

.posts img{
	display: inline-block;
	width: 49%;
	height: 49%;
}

.left_post{
	padding-right: 1%;
	padding-bottom: 2%;
}

.left_post:last-child{
	padding-bottom: 0;
}

.right_post{
	padding-left: 1%;
	padding-bottom: 2%;
}

.cat{
	position: absolute;
	width: 100%;
	height: 606px;
	overflow: hidden;
	padding-top: 470px;
}

.cat img{
	display: block;
	margin: 0 auto;
	width: 794px;
	height: 606px;
	-ms-transform: translate(430px, 0px);
	-webkit-transform: translate(430px, 0px);
	transform: translate(430px, 0px);
	z-index: 999;
}

.results_grid{
	padding: 30px 0 30px 0;
}

.results_grid li{
	display: inline-block;
}

.results_grid img{
	vertical-align: top;
	width: 100%;
	height: auto;
}

.img_left{
	padding-right: 10px;
	padding-bottom: 20px;
}

.img_right{
	padding-left: 10px;
	padding-bottom: 20px;
}

.no_padding{
	padding-bottom: 0;
}