/* PROJECT */
.container{
	max-width: 960px;
	padding: 0 10px 0 10px;
	margin: 0 auto;
}

#header_project img{
	display: block;
	max-width: 100%;
	height: 100%;
	z-index: 0;
}

.title{
	position: absolute;
	width: 100%;
	margin-top: -40px;
	font-family: 'Yeseva One', cursive;
	font-size: 4.9em;
	text-decoration: none;
	text-align: center;
	color: #fff;
	z-index: 999;
}

#project p{
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-weight: 300;
	font-size: 1.3em;
	line-height: 25px;
	padding: 30px 0 30px 0;
}

.content_01{
	background-color: #000522;
	padding: 160px 0 30px 0;
}

.image_grid{
	max-width: 100%;
	max-height: auto;
	width: 100%;
	height: auto;
}

.image_grid ul{
	width: 100%;
	height: auto;
}

.image_grid li{
	display: inline-block;
	max-width: 25%;
	width: 100%;
	height: auto;
	vertical-align: top;
}

.image_grid img{
	display: block;
	width: 100%;
	height: 100%;
}

.content_02{
	background-color: #000522;
	max-width: 100%;
}

.content_02 img{
	width: 100%;
	height: 100%;
}

.content_03{
	background-color: #000522;
	padding: 30px 0 30px 0;
}

@media only screen and (max-width: 960px) {
	.container{
	padding: 0 20px 0 20px;
	}

	.credits{
		margin-top: 0px;
	}
}

@media only screen and (max-width: 426px) {
	.container{
		padding: 0 20px 0 20px;
	}

	#header_project{
		overflow: hidden;
	}

	#header_project img{
		display: block;
		margin-left: 50%;
		-ms-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		max-width: 640px;
		height: 202px;
		z-index: 0;
	}

	.title{
		font-size: 2em;
		margin-top: -20px;
	}

	#project p{
		padding: 15px 0 15px 0;
		text-align: center;
	}

	.content_01{
		padding: 70px 0 15px 0;
	}

	.image_grid li{
		max-width: 50%;
	}

	.content_02{
		max-height: 100%;
	}

	.content_03{
		padding: 15px 0 15px 0;
	}

	.credits{
		margin-top: 0px;
	}
}

@media only screen and (min-width: 1921px) {
	#header_project img{
		display: block;
		max-width: 2560px;
		width: 100%;
		height: auto;
	}
}